<nav class="navbar">
  <a href="/" class="navbar-item">Home</a>
  <a href="/about" class="navbar-item">About</a>
  <a href="/gallery" class="navbar-item">Gallery</a>
  <a href="/auth/login" class="navbar-item">Login</a>
  <a href="/auth/signup" class="navbar-item">Sign Up</a>
</nav>