<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href="/public/stylesheets/style.css">
</head>
<body>
    <header>
        <!-- Navigation goes here -->
    </header>

    {{{body}}}

    <footer>
        <!-- Footer goes here -->
    </footer>
</body>
</html>
